Source: gasol-ppa
Section: misc
Priority: optional
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Standards-Version: 3.8.4
Homepage: http://github.com/Gasol/gasol-ppa

Package: gasol-basic
Architecture: all
Depends: byobu,
 vim,
 git,
 unrar | unrar-free,
 unzip,
 irssi,
 rcconf,
 tree,
 most,
 language-selector-common,
 ttf-inconsolata,
 ttf-droid,
 ${vendor-specific:basic:Depends},
 ${misc:Depends}
Description: Meta-package for basic environment by gasol
 metapackage

Package: gasol-desktop
Architecture: all
Depends: google-chrome-stable,
 vlc,
 sun-java6-plugin | icedtea-plugin,
 ${vendor-specific:desktop:Depends},
 ${misc:Depends}
Description: Meta-package for desktop environment by gasol
 metapackage

Package: gasol-dev
Architecture: all
Depends: vim,
 byobu,
 git,
 sun-java6-jdk | openjdk-6-jdk,
 subversion,
 tig,
 ${vendor-specific:dev:Depends},
 ${misc:Depends}
Recommends: bzr,
 ack-grep,
 mercurial
Suggests: ccache
Description: Meta-package for developement environment by gasol
 metapackage

Package: gasol-admin
Architecture: all
Depends: htop,
 lftp,
 mtr-tiny,
 parted,
 traceroute,
 curl,
 ${vendor-specific:admin:Depends},
 ${misc:Depends}
Suggests: wireshark
Description: Meta-package for system management by gasol
 metapackage
